@CHARSET "ISO-8859-1";
[class^=col]{
	height: 50px;
	padding-top: 7px;	
}
.form-control{
	width: 100%;
}
.row{
	background-color: #cccccc;
	margin-left: 0px;
	margin-right: 0px;
	border: 1px solid #cccccc;
	margin-bottom: 5px;
	line-height: 2.428571;	
	border-radius: 6px;
}
.row-xxheight{
	height: 100px;
}
.col-md-2-xxheigth{
	height: 100%;	
}
.col-2-label{
 	width: 100px;   
    background-color: #ff7f50;
    border: 1px solid #cccccc;
    border-radius: 6px 0px 0px 6px;
}